body {
    background-color: #b3cfb0;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 26px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Alterado para height em vez de min-height */
}

header {
    display: flex; /*aplicando o flexbox*/
    background-color: blue; /*Cor de fundo*/
    color: white; /*Cor do texto*/
    font-weight: bold; /*Especifica o peso ou a intensidade da fonte ex:negrito*/
    padding-left: 35px; /*define uma distância entre o conteúdo de um elemneto e suas bordas*/
    padding-top: 15px; /*define uma distância entre o conteúdo de um elemneto e suas bordas*/
    padding-bottom: 15px; /*define uma distância entre o conteúdo de um elemneto e suas bordas*/
    height: 100px;
    text-align: center;
    margin: 0px 250px 0px 250px; /* Ajuste da margem */
    border-radius: 10px;
    box-sizing: border-box; /*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura*/
    box-shadow: inset -5px  -12px 5px -5px rgba(146, 139, 171, 0.158),  inset 0 -4px 8px 4px rgba(16, 15, 15, 0.158),
    inset 5px  -12px 5px -5px rgba(16, 15, 15, 0.158); /* Adicionando box-shadow interno */

}

main {
    display: flex; /*aplicando o flexbox*/
    flex-wrap: wrap; /*Quebra a linha assim que um dos flex itens não puder mais ser compactado.*/
    gap: 5px; /* define os espaços (gutters) entre as linhas e colunas.*/
    flex-grow: 1; /*permite aumentar a largura dos elementos dentro do contêiner para completar o espaço disponível no eixo principal*/
    padding: 25px; /*define uma distância entre o conteúdo de um elemneto e suas bordas*/
    margin: 20px; /*Espaço de cima*/
    margin-bottom: 20px;
    color: white; /*Cor do texto*/
    width: calc(100% - 240px); /* Ajustando a largura */
    justify-content: start; /* Distribui o espaço entre as divs */
    margin-left: 250px;
    border-radius: 10px;
    box-shadow: inset -5px  -12px 5px -5px rgba(146, 139, 171, 0.158),  inset 0 -4px 8px 4px rgba(16, 15, 15, 0.158),
    inset 5px  -12px 5px -5px rgba(16, 15, 15, 0.158); /* Adicionando box-shadow interno */
    background-color: #1a5f12; /*Cor de fundo*/



}

main > .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

main > .container > .title {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 10px;
}
main > .container > .column {
    width: calc(25% - 4.5px); /* Ajustando a largura para 4 colunas */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main > .container > .column > .item {
    background-color: #109010;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: inset -5px  -12px 5px -5px rgba(16, 15, 15, 0.158),  inset 0 -4px 8px 4px rgba(16, 15, 15, 0.158),
    inset 5px  -12px 5px -5px rgba(16, 15, 15, 0.158); /* Adicionando box-shadow interno */
    font-weight: bold;
}
nav {
    width: calc(30% - 5px);
    background-color: red;
    padding: 10px; /* Reduzindo o espaçamento interno */
    box-sizing: border-box;
    display: flex; /* Para aplicar flexbox */
    flex-direction: column; /* Para que a nav se estenda verticalmente */
    justify-content: space-between; /* Para distribuir o espaço uniformemente */
    align-items: stretch; /* Para garantir que a altura seja a mesma que o main */
    margin-top: 20px; /* Adicionando margem superior */
    margin-bottom: 20px;
    margin-right: 250px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: inset -5px  -12px 5px -5px rgba(16, 15, 15, 0.458),  inset 0 -4px 8px 4px rgba(16, 15, 15, 0.158),
    inset 5px  -12px 5px -5px rgba(1, 15, 15, 0.158); /* Adicionando box-shadow interno */
}
footer {
    background-color:rgb(94, 170, 221);
    box-shadow: inset 0px  8px 8px rgba(204, 9, 35, 0.3); 
    color: #fff;
    padding-left: 35px;
    padding-top: 44px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0px 250px 0px 250px; /* Ajuste da margem */
    box-sizing: border-box;
    display: flex; /* Para aplicar flexbox */
    height: 100px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: inset -5px  -12px 5px -5px rgba(16, 15, 15, 0.158),  inset 0 -4px 8px 4px rgba(16, 15, 15, 0.158),
    inset 5px  -12px 5px -5px rgba(16, 15, 15, 0.158); /* Adicionando box-shadow interno */
}

/* Flexbox para posicionar main e nav lado a lado */
.container {
    display: flex;

}

.sidebar{
    padding-top: 35px;
    padding-left: 35px;
}
